/* top nav */
.main-nav, .post-head {border-bottom: 1px solid #66ccff;}

.main-nav {overflow:hidden;text-align:center;position:relative; margin-top: -10px;}

.main-nav ul {margin-top:35px; display:inline-block; margin-bottom:-5px;padding:0;}

.main-nav li {float:left; text-transform:uppercase; padding: 0 12px; font-size: 10px;}

.main-nav li a {text-decoration:none; color: #b7b7b9; font: 500 14px/1 'p22-underground-n5','p22-underground',sans-serif; letter-spacing: 1px; text-transform: uppercase;}
.main-nav li a:hover {color: #66CCFF;}

.main-nav .home-link a {background: url("http://o.aolcdn.com/os/Stylelist/images/brand-elements-sprite.png") no-repeat transparent;
                        height:65px;
                        font-size:0px;
                        margin-top: -35px;
						display:block;
						width:244px;}


/* DL Home */
#dl-main .thumbnails img{vertical-align:none;width:120px;height:77px;border:none !important;margin:0 !important;padding:0}
#dl-main .entry-title{margin:20px;text-align:center;}
#dl-main .entry-title a{color:#FF6666;}
#dl-main{width:620px;margin:0px;overflow:hidden;float:left;}
#dl-main ul li{width:378px;height:auto;list-style-type:none;z-index:10;}
#dl-main img{margin:auto !important;max-width:100% !important;padding:0;}
.thumbnails{float:left;position:absolute;}
.thumbnails a{float:none;position:absolute;top:0;z-index:20;width:120px;height:77px;border:1px solid #fff;}
.thumbnails a.active .count{background-color:rgba(0, 0, 0, 0.6);}
.thumbnails span {color:#fff;position:absolute;left:0px;top:0px;font:36px/1 'alternate-gothic-no-2-d-n4','alternate-gothic-no-2-d',sans-serif; padding:20px 20px 0 20px;width:80px;height:57px;}
.thumbnails a:nth-child(n){text-align:right;}
.thumbnails a:nth-child(n+5){text-align:left;} 
#dl-thumbnail-0{left:0px;top:0px; border-width:0 1px 1px 0;}
#dl-thumbnail-1{left:0px;top:78px;border-width:0 1px 1px 0;}
#dl-thumbnail-2{left:0px;top:156px;border-width:0 1px 1px 0;}
#dl-thumbnail-3{left:0px;top:234px;border-width:0 1px 0 0;}
#dl-thumbnail-4{left:500px;top:0px; border-width:0 0 1px 1px;}
#dl-thumbnail-5{left:500px;top:78px;border-width:0 0 1px 1px;}
#dl-thumbnail-6{left:500px;top:156px;border-width:0 0 1px 1px;}
#dl-thumbnail-7{left:500px;top:234px;border-width:0 0 0 1px;}
#dl-main .dl-image img{width:378px;height:311px;border:none !important;padding:0;}
.carousel{position:relative;width:620px;overflow:hidden;border-bottom: 1px solid #66CCFF; padding-bottom:25px;}
.carousel-btns{text-align: center;width:40%; margin:0 250px;float:left;}
.carousel .dl-image{margin-left:120px;}
.prevArw{background:transparent url("http://dev-oct.sandbox.main.stylelist.com/media/sprite.png") no-repeat scroll -82px -330px;width:25px;height:28px;font-size:0;float:left;cursor:pointer;}
.nextArw{background:transparent url("http://dev-oct.sandbox.main.stylelist.com/media/sprite.png") no-repeat scroll -106px -330px;width:25px;height:28px;font-size:0;float:left;cursor:pointer;}
.prevArw:hover{background-position:-82px -358px;}
.nextArw:hover{background-position:-106px -358px;}
.slide-count{float:left;font:500 14px/2 'p22-underground-n5','p22-underground',sans-serif;color:#B7B7B9;text-transform:uppercase;width:100px;}
/* end DL Home */


/* Featured Lists */
.featured-items-primary, .featured-items {float:left;}
.featured-items-primary .featured-items {width:50%;}
.list-items {padding-right: 20px;}

#primary .featured-item img {border:none;}

.featured-items h2 {
	margin-bottom:0;
}

.featured-items .list-items p {
	color: black;
	font: normal 24px/1 'alternate-gothic-no-2-d-n4','alternate-gothic-no-2-d',sans-serif;
	padding: 5px 5px 5px 120px;
	text-transform: uppercase;
}

.featured-items .list-items .featured-item {
	border-top: 1px solid #CCC;
	margin-bottom: 10px;
	min-height: 110px;
	padding-top: 5px;
	position: relative;
}

.featured-items .list-items img {
	display: block;
	height: 110px;
	left: 0;
	position: absolute;
	top: 5px;
	width: 110px;
}

.featured-items .list-items p {
	color: black;
	font: normal 24px/1 'alternate-gothic-no-2-d-n4','alternate-gothic-no-2-d',sans-serif;
	padding: 5px 5px 5px 120px;
	text-transform: uppercase;
	margin:0;
}

.featured-items .list-items p span {
	color: #B7B7B9;
	display: block;
	font: 500 11px/1 'p22-underground-n5','p22-underground',sans-serif;
	letter-spacing: 1px;
	padding-top: 5px;
}

.featured-items .icon-video {background:url("http://dev-oct.sandbox.main.stylelist.com/media/sprite.png") no-repeat scroll -372px -246px transparent;
	cursor:pointer;
	height:55px;
	left:60px;
	position:absolute;
	top:65px;
	width:55px;
	text-indent: -9999px;}


.the-lists-small {
	left: -20px;
	margin: 0;
	position: relative;
	width: 640px;
}

#secondary .the-lists-small {
	left: auto;
	padding: 20px 0 0;
	width: 300px;
}

.the-lists-small h3 {
	color:#ccc;
	font: 500 11px/1 'p22-underground-n5','p22-underground',sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin:0;
}

.the-lists-small h2 {
	margin:4px 0;
}

.the-lists-small h2 a {
	color:#000;
}

.list-body {
	margin-top: 5px;
}

.the-lists-small .list-body > div, .video-features .video .video-body {
	border: 1px solid #6CF;
	height: 300px;
	position: relative;
	width: 300px;
}

.list-body div div {
	float: left;
	height: 150px;
	padding: 5px 0 0 5px;
	position: relative;
	width: 150px;
}

.the-lists-small .list-body div div {
	height: 95px;
	padding: 4px 0 0 4px;
	width: 95px;
}

.the-lists-small .list-body div div img {
	height: 95px;
	width: 95px;
}

.list-body div div span {
	background-color: rgba(255, 255, 255, 0.8);
	bottom: 0;
	color: black;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffffff, endColorstr=#ccffffff);
	font: 400 18px/1 'alternate-gothic-no-2-d-n4','alternate-gothic-no-2-d',sans-serif;
	left: 4px;
	padding: 5px 8px 0 8px;
	position: absolute;
}


/* Inspiration wall */
#inspiration-wall {margin: 0 auto; width: 950px;}
.inspiration-heading {}
.inspiration-list {padding:0}
.inspiration-tile {
	float: left; height: 290px; list-style-type: none; margin: 0 40px 40px 0; position: relative; width: 290px;
	.icons-sl-circle {height: 22px; margin: -11px auto 0; width: 22px;}
}

.inspiration-tile a {@include transition(background 0.5s 0); color: #fff; height: 290px; display: block; text-decoration: none;}
.inspiration-tile:nth-child(3n) {margin-right: 0;}
.inspiration-title {background-color: #888; background-color: rgba(0,0,0,0.6); bottom: 0; font-size: 24px; font-weight: normal; line-height: 24px; margin: 0; padding: 10px 5px; position: absolute; text-transform: uppercase; width: 280px;}
.inspiration-description {display: none; font-size: 14px; line-height: 17px;}
.inspiration-view-now {@include transition(background 0.5s 0); display: none; font-size: 12px;}
.inspiration-tile:hover {
	a {background-color: rgba(0,0,0,0.6);}
	.inspiration-title {background-color: transparent; position: relative;}
	.inspiration-description {display: block; padding: 10px 5px;}
	.inspiration-view-now {background: #66CCFF; bottom: 0; display: block; font-size: 12px; padding: 10px 15px; position: absolute; text-transform: uppercase; width: 260px;}
}


/* Mods from SiteKit to accommodate full width footer */
#page{
	width:100%;
	padding:0;
}
#page > header, #main {
	margin: 0 auto;
	padding:10px;
	width:960px;
}


/* jcarousel styles */

#nineup {clear:both; border-bottom: 1px solid #6CF; padding-bottom:25px; padding-top: 30px;}

.controls {height:30px; position:relative; text-align:center; margin-bottom:40px;}

.button {border: 1px solid #e7e6e6; border-radius: 6px; color: #b7b7b9; letter-spacing:2px; text-transform:uppercase; font: 600 11px/1 'proxima-nova'; letter-spacing:2px; display:inline-block; padding: 10px 0 10px 40px; cursor:pointer;}

.nineup-view-slideshow {background: url("http://www.blogsmithmedia.com/dev-oct.sandbox.main.stylelist.com/media/sprite.png") no-repeat scroll -418px -220px; width:163px; margin-right:50px;}

.browse-lists {background: url("http://www.blogsmithmedia.com/dev-oct.sandbox.main.stylelist.com/media/sprite.png") no-repeat scroll -419px -192px; width:153px;}

a.nineup-view-slideshow:hover, a.browse-lists:hover {color: #66ccff;}

.featured-items-primary {margin: 30px 0 15px; padding-bottom: 55px;}

span.nineup-index {background-color: rgba(255,255,255,.8);
			   bottom:0;
			   color: #000;
			   font: 400 18px/1 'alternate-gothic-no-2-d', sans-serif;
			   left: 0;
			   padding: 5px 8px 0 8px;
			   width: auto;
			   position: relative;
			   top:128px;
			   }
		

.jcarousel-skin-nineup .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-nineup .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-nineup .jcarousel-clip-horizontal {
    width:  482px;
    height: 584px;
	margin: 0 auto;
}


.jcarousel-skin-nineup .jcarousel-item {
    width: 482px;
    height: 584px;
}

.jcarousel-skin-nineup .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-nineup .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-nineup .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-nineup .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/** Jcarousel Horizontal Buttons */
.jcarousel-skin-nineup .jcarousel-next-horizontal {
    position: absolute;
    top: 243px;
    width: 36px;
    height: 44px;
    cursor: pointer;
    background: transparent url("http://www.blogsmithmedia.com/dev-oct.sandbox.main.stylelist.com/media/sprite.png") no-repeat -38px -312px;
	left: 567px;
}

.jcarousel-skin-nineup .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url("http://www.blogsmithmedia.com/dev-oct.sandbox.main.stylelist.com/media/sprite.png");
}

.jcarousel-skin-nineup .jcarousel-next-horizontal:hover,
.jcarousel-skin-nineup .jcarousel-next-horizontal:focus {
    background-position: -38px -360px;
}

.jcarousel-skin-nineup .jcarousel-next-disabled-horizontal,
.jcarousel-skin-nineup .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-nineup .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-nineup .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-nineup .jcarousel-prev-horizontal {
    position: absolute;
    top: 243px;
	left: 10px;
    width: 36px;
    height: 44px;
    cursor: pointer;
    background: transparent url("http://www.blogsmithmedia.com/dev-oct.sandbox.main.stylelist.com/media/sprite.png") no-repeat 0 -312px;
}

.jcarousel-skin-nineup .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal.png);
}

.jcarousel-skin-nineup .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-nineup .jcarousel-prev-horizontal:focus {
    background: transparent url("http://www.blogsmithmedia.com/dev-oct.sandbox.main.stylelist.com/media/sprite.png") no-repeat 0 -360px;
   
}


.jcarousel-skin-nineup .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-nineup .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-nineup .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-nineup .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background: transparent url("http://www.blogsmithmedia.com/dev-oct.sandbox.main.stylelist.com/media/sprite.png") no-repeat 0 -312px;
} 

/* controls */
.jcarousel-control {
	display:block;
	padding-right: 5px;
	position:relative;
	left: 50%;
	float:left;
}

.jcarousel-control a.active {
	background-color: #ff6666;
	border: 1px solid #ff6666;
	cursor: default;
}
.jcarousel-control a {
	background-color: #ccc;
	border: 1px solid #ccc;
	border-radius: 6px;
	color: #ccc;
	display: inline-block;
	height: 6px;
	width: 6px;
	margin-right: 10px;
	position:relative;
	right: 50%;
	float: left;
}



/* article body */
#main {margin-top:0;}
#main a {text-decoration: none;}
.entry-title {text-transform: uppercase; color: #ff6666; margin-top:0; font-size: 36px; font-weight:normal; line-height: 36px; margin-bottom: 0;}

.byline {font-style:normal; font-size:11px; color: #666; float:right; margin-bottom: 5px; margin-top:0;}

.post {border-bottom: 1px solid #66ccff; margin-bottom: 25px;}
.post-meta {margin-bottom: 35px;}

button, html input[type="button"], input[type="reset"], input[type="submit"] {background-color: #66CCff;}

/* override user agent css on byline*/
address {font-style: normal !important;}

abbr[title] {border-bottom: none;}

.aol-share-post {margin-top: 15px;}

p.share-text, address {font: 500 11px/1 'p22-underground-n5','p22-underground',sans-serif; color: #B7B7B9;}
p.share-text {float:right; padding-right:10px; margin-top:7px;}
.aol-share {float:right;}
#sponsor-share {margin-bottom:10px;}

#primary img {border: 1px solid #66ccff; padding:4px;}
#permalink .captioncenter p {margin-top:5px; color: #666; font-style:italic; font-size: 12px;}

/* comments */
.comment-count{display:none;}

/* gallery overrides*/
.aol-photo-gallery .gallery{background-color:#fff;border:solid 1px #6CF;padding:4px; width: 470px; height: 470px; margin:0 auto;}
aol-photo-gallery-fullscreen .gallery{background-color:#000;border:none;padding:0;}
.bottom-left, .bottom-right {display:none;}
.aol-photo-gallery .thumbnails li {margin:0; opacity:1 !important;}
.aol-photo-gallery .thumbnails {width: 472px !important; height: 477px !important; background-color: #fff !important;}
.aol-photo-gallery h2 {color: #F66; font: normal 36px/1 'alternate-gothic-no-2-d'; margin-right:0; text-align:center;}
.aol-photo-gallery .thumbnails li {padding: 5px 0 0 5px}


/* newsletter signup */
.vip {margin-bottom:10px;}
.vip h2 {margin-bottom: 5px;}

.vip input[type="text"] {
    -moz-appearance: caret;
    border: 1px solid;
    color: #B7B7B9;
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
    padding: 10px 0 8px 15px;
	float:left;
	width: 70%;
}

#newsletter-form input {border-right:none; border-radius: 7px 0 0 7px; font: 400 12px/1 'proxima-nova', 'proxima-nova-n4', arial, helvetica, sans-serif; letter-spacing: 2px;}
input#join {color: #fff; padding: 9px 12px; border-radius: 0 7px 7px 0; border:1px solid #66CCFF;}
@media screen and (-webkit-min-device-pixel-ratio:0) {input#join {padding:10px 12px;}}

/* Top of our list */
.top-of-our-list{float:left;}
.top-of-our-list h1{background:transparent url("http://www.blogsmithmedia.com/dev-oct.sandbox.main.stylelist.com/media/sprite.png") no-repeat scroll -385px -96px;padding-left:80px;font-size:22px;text-transform:uppercase;}
.top-of-our-list h1 span{font-size:13px;color:#B7B7B9;float:left;width:100%;}
.top-of-our-list .list-items .list-item {background-color:#F2F1F1;margin:2px 3px;float:left;width:98%;list-style-type:none;}
.top-of-our-list .list-items .list-item h2{width:55%;float:left;padding:10px;text-align:center;color:#666666;}
.top-of-our-list .list-items .list-item a:hover h2{color:#FF6666;}
.top-of-our-list .list-items .list-item:nth-child(2n+1) h2{float:right;}
.top-of-our-list .list-items .list-item img{float:left;width:110px;height:110px;}
.top-of-our-list .list-items .list-item:nth-child(2n+1) img{float:right;}
.top-of-our-list .list-items{float:left;border:1px solid #FF6666;padding:2px 0;margin:0;}
.top-of-our-list .list-items .list-item h2 span{color:#FF6666;width:100%;float:left;padding-bottom:4px;font-size:26px;text-align:left;}
.top-of-our-list .list-items .list-item h2 span span{font-size:24px;width:50%;text-align:right;}
.top-of-our-list .list-items .list-item a:hover h2 span{color:#666;}
.top-of-our-list .entry-title {font:22px/1 'alternate-gothic-no-2-d-n4','alternate-gothic-no-2-d',sans-serif;color:#666666;letter-spacing:normal;line-height:normal;}
/* end Top of our list */
