/* Use this file to override main responsive rules or to add rules for proprietary site elements */

/*
	Tablet Layout: 768px.
*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
	#page{
		width:100%;
		padding:0;
	}
	#page > header, #main {
		margin: 20px auto 0;
		padding:10px;
		width:748px;
	}
	
	#page > header .main-nav li a {
		font-size:11px;
	}
	
	#page > header .main-nav li.home-link a {font-size:0;}

	.dl .thumbnails img{width:100px;}
	.carousel{margin-top:0px;}
	#dl-main.dl .dl-image img{width:280px;margin-left:78px;height:230px;}
	.thumbnails span{padding:5px;width:70px;height:50px;}
	.thumbnails a{width:80px;height:60px;}
	#dl-main.dl .thumbnails img{width:80px;height:60px;}
	#dl-thumbnail-4,#dl-thumbnail-5,#dl-thumbnail-6,#dl-thumbnail-7{left:360px;}
	#dl-main .carousel .dl-image{margin-left:80px;padding:0;}
	.dl .entry-title{width:400px;margin:20px 0;}
	.carousel-btns{margin:0 150px;}
       	#dl-thumbnail-1,#dl-thumbnail-5{top:61px;}
	#dl-thumbnail-2,#dl-thumbnail-6{top:122px;}
	#dl-thumbnail-3,#dl-thumbnail-7{top:183px;}
        #dl-cat.dl .dl-image img{width:430px;height:250px;}
	.videos .icon-video{left:30%;}

        .inspiration-list {width: 748px;}
	.inspiration-tile:nth-child(1n) {
		margin: 0 40px 40px 40px; 
	}
	.inspiration-tile:nth-child(2n) {
		margin-right: 0;
	}

	/* featured galleries & videos */
	.featured-items-primary {float:none;}
	.featured-items-primary .featured-items {width:100%;}

}



/*
	Mobile Layout: 320px.
*/

@media only screen and (max-width: 767px) {

	/* Mods from SiteKit to accommodate full width footer */
	#page{
		width:100%;
		padding:0;
	}
	#page > header, #main {
		margin: 20px auto 0;
		padding:10px;
		width:300px;
	}
	/* nav  */
	#page > header .main-nav {padding-top:50px;text-align:left;}
	#page > header .main-nav li.subnav-toggle {margin-top:-52px;}
	#page > footer .main-nav li.subnav-toggle {margin-top:-4px;}
	
	#page > header .main-nav li a {
		font-size:14px;
	}
	#page > header .main-nav li.subnav-toggle b a,#page > footer .main-nav li.subnav-toggle b a {font-size:0;}
	
	#page > header .main-nav li.home-link a {position:absolute; top:64px;font-size:0;}
	

	/*footer  */
	#page > footer .main-nav .home-link a {margin:0;}
	#page > footer .main-nav {}
	#page > footer #aol-follow ul {margin-top:0;}
	#page > footer #aol-footer-links li {border-right: none;}

	.dl .thumbnails{display:none;}
	#dl-main .carousel .dl-image{margin-left:5px;}
	.dl .entry-title{margin:20px 0;width:310px;}
	.carousel{margin-top:0px;}
	.carousel-btns{margin:0 100px;}
        #dl-cat.dl .dl-image img {width: 310px;margin-left: 0px;height: 175px;}
	.videos .icon-video{left:20%;top:50px;}
        .inspiration-list {width: 300px;}

	/* featured galleries & videos */
	.featured-items-primary {float:none;}
	.featured-items-primary .featured-items {width:100%;}
}



/*
	Wide Mobile Layout: 480px.
*/

@media only screen and (min-width: 480px) and (max-width: 767px) {

	#page > header, #main {
		width:460px;
	}

	.dl .thumbnails img{width:100px;}
	.carousel{margin-top:0px;}
	#dl-main.dl .dl-image img{width:280px;margin-left:78px;height:230px;}
	.dl .thumbnails span{padding:5px;width:70px;height:50px;}
	.dl .thumbnails a{width:80px;height:60px;}
	.dl .thumbnails img{width:80px;height:60px;}
	#dl-thumbnail-4,#dl-thumbnail-5,#dl-thumbnail-6,#dl-thumbnail-7{left:360px;}
	#dl-main .carousel .dl-image{margin-left:80px;padding:0;}
	.dl .entry-title{width:400px;margin:20px 0;}
	.carousel-btns{margin:0 150px;}
       	#dl-thumbnail-1,#dl-thumbnail-5{top:61px;}
	#dl-thumbnail-2,#dl-thumbnail-6{top:122px;}
	#dl-thumbnail-3,#dl-thumbnail-7{top:183px;}
	#dl-cat.dl .dl-image img{width:430px;height:250px;}
        .videos .icon-video{left:30%;}
        .inspiration-list {width: 460px;}
	.inspiration-tile {
		float: none;
	}
	.inspiration-tile:nth-child(1n) {
		margin: 0 auto 20px; 
	}
	.inspiration-tile:nth-child(2n) {
		margin: 0 auto 20px;
	}


}
