/*
 * Main Styles for this site
 */

/* General Rules */
body {font: 400 15px/1.6 'proxima-nova-n4','proxima-nova',sans-serif;}

html, button, input, select, textarea {font-family: Arial, sans-serif; color: #333333;}
a {color: #B7B7B9;}

h2 {font: 26px/1 'alternate-gothic-no-2-d', sans-serif; text-transform: uppercase;}


/*ads */
.header-ad {text-align:center; background-color: #ededed;}
.ad215x35 {float: left; margin-top: -10px;}

/*follow us buttons - top */
#page > header {margin-top:0; padding-top: 0;}
#aol-follow {overflow:hidden;}
#aol-follow ul {list-style-type:none; padding-left:0; margin-top: 0;}
#aol-follow li {float:left;}

#aol-follow li a {background: url("http://o.aolcdn.com/os/aol/sitekit/images/common-elements-sprite.png") no-repeat transparent 0 0;
				  display:block;
				  height: 36px;
				  width:28px;
				  font-size: 0px;
				  margin-right: 8px;}
							 
#aol-follow li.twitter a {background-position: -33px 0;}
#aol-follow li.pinterest a {background-position: -68px 0;}



/* footer */
#page > footer {background-color: #000; padding:20px; overflow:hidden;}

#page > footer .main-nav ul {margin-top: 20px; margin-bottom: 15px;}
#page > footer .main-nav li a {color: #B7B7B9;}

#page > footer .main-nav {border-bottom:none; }
#page > footer .home-link a {background-position: -246px 0; margin-top: -10px; margin-left:0; width:116px; height: 35px;}

#page > footer #aol-follow {text-align:center;}
#page > footer #aol-follow ul {display:inline-block;}
#page > footer #aol-follow li.facebook a {background-position: -100px 0;}
#page > footer #aol-follow li.twitter a {background-position: -130px 0;}
#page > footer #aol-follow li.pinterest a {background-position: -165px 0;}
#page > footer #aol-footer-links li {border-right: 1px solid #555555; font: 400 12px/1 'proxima-nova', 'proxima-nova-n4', arial, helvetica, sans-serif; text-transform:none; word-spacing: 1px;}
#page > footer #aol-footer-links li.last {border-right:none;}


#copyright {list-style:none;padding:0; color: #555;font: 400 12px/1 'proxima-nova-n4','proxima-nova',arial,helvetica,sans-serif;letter-spacing: normal; text-align:center;}
#copyright li {float:none;padding:0 10px;display: inline;}
#copyright a {color: #555; text-decoration:none;}

#page > footer .main-nav li a:hover, #copyright a:hover {color: #66CCFF;}
#page > footer #copyright li span {padding: 10px 0;}



