$headingfont: 'alternate-gothic-no-2-d', sans-serif;
$bodyfont: 'proxima-nova';
$sprite: "http://www.blogsmithmedia.com/dev-oct.sandbox.main.stylelist.com/media/sprite.png";

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}
