/*
 * Main Styles for this site
 */
/* General Rules */
/* line 6, ../scss/_sitekit.scss */
body {
  font: 400 15px/1.6 "proxima-nova-n4", "proxima-nova", sans-serif;
}

/* line 8, ../scss/_sitekit.scss */
html, button, input, select, textarea {
  font-family: Arial, sans-serif;
  color: #333333;
}

/* line 9, ../scss/_sitekit.scss */
a {
  color: #B7B7B9;
}

/* line 11, ../scss/_sitekit.scss */
h2 {
  font: 26px/1 "alternate-gothic-no-2-d", sans-serif;
  text-transform: uppercase;
}

/*ads */
/* line 15, ../scss/_sitekit.scss */
.header-ad {
  text-align: center;
  background-color: #ededed;
}

/* line 16, ../scss/_sitekit.scss */
.ad215x35 {
  float: left;
  margin-top: -10px;
}

/*follow us buttons - top */
/* line 19, ../scss/_sitekit.scss */
#page > header {
  margin-top: 0;
  padding-top: 0;
}

/* line 20, ../scss/_sitekit.scss */
#aol-follow {
  overflow: hidden;
}

/* line 21, ../scss/_sitekit.scss */
#aol-follow ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

/* line 22, ../scss/_sitekit.scss */
#aol-follow li {
  float: left;
}

/* line 24, ../scss/_sitekit.scss */
#aol-follow li a {
  background: url("http://o.aolcdn.com/os/aol/sitekit/images/common-elements-sprite.png") no-repeat transparent 0 0;
  display: block;
  height: 36px;
  width: 28px;
  font-size: 0px;
  margin-right: 8px;
}

/* line 31, ../scss/_sitekit.scss */
#aol-follow li.twitter a {
  background-position: -33px 0;
}

/* line 32, ../scss/_sitekit.scss */
#aol-follow li.pinterest a {
  background-position: -68px 0;
}

/* top nav */
/* line 36, ../scss/_sitekit.scss */
.main-nav, .post-head {
  border-bottom: 1px solid #66ccff;
}

/* line 38, ../scss/_sitekit.scss */
.main-nav {
  overflow: hidden;
  text-align: center;
  position: relative;
  margin-top: -10px;
}

/* line 40, ../scss/_sitekit.scss */
.main-nav ul {
  margin-top: 35px;
  display: inline-block;
  margin-bottom: -5px;
  padding: 0;
}

/* line 42, ../scss/_sitekit.scss */
.main-nav li {
  float: left;
  text-transform: uppercase;
  padding: 0 12px;
  font-size: 10px;
}

/* line 44, ../scss/_sitekit.scss */
.main-nav li a {
  text-decoration: none;
  color: #b7b7b9;
  font: 500 14px/1 "p22-underground-n5", "p22-underground", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 45, ../scss/_sitekit.scss */
.main-nav li a:hover {
  color: #66CCFF;
}

/* line 47, ../scss/_sitekit.scss */
.main-nav .home-link a {
  background: url("http://o.aolcdn.com/os/Stylelist/images/brand-elements-sprite.png") no-repeat transparent;
  height: 65px;
  font-size: 0px;
  margin-top: -35px;
  display: block;
  width: 244px;
}

/* article body */
/* line 55, ../scss/_sitekit.scss */
#main {
  margin-top: 0;
}

/* line 56, ../scss/_sitekit.scss */
#main a {
  text-decoration: none;
}

/* line 57, ../scss/_sitekit.scss */
.entry-title {
  text-transform: uppercase;
  color: #ff6666;
  margin-top: 0;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  margin-bottom: 0;
}

/* line 59, ../scss/_sitekit.scss */
.byline {
  font-style: normal;
  font-size: 11px;
  color: #666;
  float: right;
  margin-bottom: 5px;
  margin-top: 0;
}

/* line 61, ../scss/_sitekit.scss */
.post {
  border-bottom: 1px solid #66ccff;
  margin-bottom: 25px;
}

/* line 62, ../scss/_sitekit.scss */
.post-meta {
  margin-bottom: 35px;
}

/* line 64, ../scss/_sitekit.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: #66CCff;
}

/* override user agent css on byline*/
/* line 68, ../scss/_sitekit.scss */
address {
  font-style: normal !important;
}

/* line 70, ../scss/_sitekit.scss */
abbr[title] {
  border-bottom: none;
}

/* line 72, ../scss/_sitekit.scss */
.aol-share-post {
  margin-top: 15px;
}

/* line 74, ../scss/_sitekit.scss */
p.share-text, address {
  font: 500 11px/1 "p22-underground-n5", "p22-underground", sans-serif;
  color: #B7B7B9;
}

/* line 75, ../scss/_sitekit.scss */
p.share-text {
  float: right;
  padding-right: 10px;
  margin-top: 7px;
}

/* line 76, ../scss/_sitekit.scss */
.aol-share {
  float: right;
}

/* line 77, ../scss/_sitekit.scss */
#sponsor-share {
  margin-bottom: 10px;
}

/* line 79, ../scss/_sitekit.scss */
#primary img {
  border: 1px solid #66ccff !important;
  padding: 4px;
}

/* line 80, ../scss/_sitekit.scss */
#permalink .captioncenter p {
  margin-top: 5px;
  color: #666;
  font-style: italic;
  font-size: 12px;
}

/* comments */
/* line 83, ../scss/_sitekit.scss */
.comment-count {
  display: none;
}

/* gallery */
/* line 86, ../scss/_sitekit.scss */
.aol-photo-gallery .gallery {
  background-color: #fff;
  border: solid 1px #6CF;
  padding: 4px;
}

/* line 87, ../scss/_sitekit.scss */
aol-photo-gallery-fullscreen .gallery {
  background-color: #000;
  border: none;
  padding: 0;
}

/* footer */
/* line 90, ../scss/_sitekit.scss */
#page > footer {
  background-color: #000;
  padding: 20px;
  overflow: hidden;
}

/* line 92, ../scss/_sitekit.scss */
#page > footer .main-nav ul {
  margin-top: 20px;
  margin-bottom: 15px;
}

/* line 93, ../scss/_sitekit.scss */
#page > footer .main-nav li a {
  color: #B7B7B9;
}

/* line 95, ../scss/_sitekit.scss */
#page > footer .main-nav {
  border-bottom: none;
}

/* line 96, ../scss/_sitekit.scss */
#page > footer .home-link a {
  background-position: -246px 0;
  margin-top: -10px;
  margin-left: 0;
  width: 116px;
  height: 35px;
}

/* line 98, ../scss/_sitekit.scss */
#page > footer #aol-follow {
  text-align: center;
}

/* line 99, ../scss/_sitekit.scss */
#page > footer #aol-follow ul {
  display: inline-block;
}

/* line 100, ../scss/_sitekit.scss */
#page > footer #aol-follow li.facebook a {
  background-position: -100px 0;
}

/* line 101, ../scss/_sitekit.scss */
#page > footer #aol-follow li.twitter a {
  background-position: -130px 0;
}

/* line 102, ../scss/_sitekit.scss */
#page > footer #aol-follow li.pinterest a {
  background-position: -165px 0;
}

/* line 103, ../scss/_sitekit.scss */
#page > footer #aol-footer-links li {
  border-right: 1px solid #555555;
  font: 400 12px/1 "proxima-nova", "proxima-nova-n4", arial, helvetica, sans-serif;
  text-transform: none;
  word-spacing: 1px;
}

/* line 104, ../scss/_sitekit.scss */
#page > footer #aol-footer-links li.last {
  border-right: none;
}

/* line 107, ../scss/_sitekit.scss */
#copyright {
  list-style: none;
  padding: 0;
  color: #555;
  font: 400 12px/1 "proxima-nova-n4", "proxima-nova", arial, helvetica, sans-serif;
  letter-spacing: normal;
  text-align: center;
}

/* line 108, ../scss/_sitekit.scss */
#copyright li {
  float: none;
  padding: 0 10px;
  display: inline;
}

/* line 109, ../scss/_sitekit.scss */
#copyright a {
  color: #555;
  text-decoration: none;
}

/* line 111, ../scss/_sitekit.scss */
#page > footer .main-nav li a:hover, #copyright a:hover {
  color: #66CCFF;
}

/* line 112, ../scss/_sitekit.scss */
#page > footer #copyright li span {
  padding: 10px 0;
}

/* newsletter signup */
/* line 115, ../scss/_sitekit.scss */
.vip {
  margin-bottom: 10px;
}

/* line 116, ../scss/_sitekit.scss */
.vip h2 {
  margin-bottom: 5px;
}

/* line 118, ../scss/_sitekit.scss */
.vip input[type="text"] {
  -moz-appearance: caret;
  border: 1px solid;
  color: #B7B7B9;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
  padding: 10px 0 8px 15px;
  float: left;
  width: 70%;
}

/* line 130, ../scss/_sitekit.scss */
#newsletter-form input {
  border-right: none;
  border-radius: 7px 0 0 7px;
  font: 400 12px/1 "proxima-nova", "proxima-nova-n4", arial, helvetica, sans-serif;
  letter-spacing: 2px;
}

/* line 131, ../scss/_sitekit.scss */
input#join {
  color: #fff;
  padding: 9px 12px;
  border-radius: 0 7px 7px 0;
  border: 1px solid #66CCFF;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* line 132, ../scss/_sitekit.scss */
  input#join {
    padding: 10px 12px;
  }
}
/* line 136, ../scss/_sitekit.scss */
#google_translate_element {
  margin-bottom: 20px;
}

/* Mods from SiteKit to accommodate full width footer */
/* line 142, ../scss/_sitekit.scss */
#page {
  width: 100%;
  padding: 0;
}

/* line 146, ../scss/_sitekit.scss */
#page > header, #main {
  margin: 0 auto;
  padding: 10px;
  width: 960px;
}

/* line 153, ../scss/_sitekit.scss */
.featured-items h2 {
  margin-bottom: 0;
}

/* line 157, ../scss/_sitekit.scss */
.featured-items .list-items p {
  color: black;
  font: normal 24px/1 "alternate-gothic-no-2-d-n4", "alternate-gothic-no-2-d", sans-serif;
  padding: 5px 5px 5px 120px;
  text-transform: uppercase;
}

/* line 164, ../scss/_sitekit.scss */
.featured-items .list-items .featured-item {
  border-top: 1px solid #CCC;
  margin-bottom: 10px;
  min-height: 110px;
  padding-top: 5px;
  position: relative;
}

/* line 172, ../scss/_sitekit.scss */
.featured-items .list-items img {
  display: block;
  height: 110px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 110px;
}

/* line 181, ../scss/_sitekit.scss */
.featured-items .list-items p {
  color: black;
  font: normal 24px/1 "alternate-gothic-no-2-d-n4", "alternate-gothic-no-2-d", sans-serif;
  padding: 5px 5px 5px 120px;
  text-transform: uppercase;
  margin: 0;
}

/* line 189, ../scss/_sitekit.scss */
.featured-items .list-items p span {
  color: #B7B7B9;
  display: block;
  font: 500 11px/1 "p22-underground-n5", "p22-underground", sans-serif;
  letter-spacing: 1px;
  padding-top: 5px;
}

/* line 198, ../scss/_sitekit.scss */
.the-lists-small {
  left: -20px;
  margin: 0;
  position: relative;
  width: 640px;
}

/* line 205, ../scss/_sitekit.scss */
#secondary .the-lists-small {
  left: auto;
  padding: 20px 0 0;
  width: 300px;
}

/* line 211, ../scss/_sitekit.scss */
.the-lists-small h3 {
  color: #ccc;
  font: 500 11px/1 "p22-underground-n5", "p22-underground", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}

/* line 219, ../scss/_sitekit.scss */
.the-lists-small h2 {
  margin: 4px 0;
}

/* line 223, ../scss/_sitekit.scss */
.the-lists-small h2 a {
  color: #000;
}

/* line 227, ../scss/_sitekit.scss */
.list-body {
  margin-top: 5px;
}

/* line 231, ../scss/_sitekit.scss */
.the-lists-small .list-body > div, .video-features .video .video-body {
  border: 1px solid #6CF;
  height: 300px;
  position: relative;
  width: 300px;
}

/* line 238, ../scss/_sitekit.scss */
.list-body div div {
  float: left;
  height: 150px;
  padding: 5px 0 0 5px;
  position: relative;
  width: 150px;
}

/* line 246, ../scss/_sitekit.scss */
.the-lists-small .list-body div div {
  height: 95px;
  padding: 4px 0 0 4px;
  width: 95px;
}

/* line 252, ../scss/_sitekit.scss */
.the-lists-small .list-body div div img {
  height: 95px;
  width: 95px;
}

/* line 257, ../scss/_sitekit.scss */
.list-body div div span {
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0;
  color: black;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffffff, endColorstr=#ccffffff);
  font: 400 18px/1 "alternate-gothic-no-2-d-n4", "alternate-gothic-no-2-d", sans-serif;
  left: 4px;
  padding: 5px 8px 0 8px;
  position: absolute;
}

/* Redesign Styles */
/* line 269, ../scss/_sitekit.scss */
.bottom-left, .bottom-right {
  display: none;
}

/* line 270, ../scss/_sitekit.scss */
.aol-photo-gallery .thumbnails li {
  margin: 0;
  opacity: 1 !important;
}

/* line 271, ../scss/_sitekit.scss */
.aol-photo-gallery .thumbnails {
  width: 472px !important;
  height: 477px !important;
  background-color: #fff !important;
}

/* line 272, ../scss/_sitekit.scss */
.aol-photo-gallery .gallery {
  width: 472px;
  height: 477px;
  margin: 0 auto;
}

/* featured videos, galleries */
/* line 275, ../scss/_sitekit.scss */
.featured {
  margin-top: 40px;
}

/* line 276, ../scss/_sitekit.scss */
.featured-item img {
  float: left;
}

/* DL Home */
/* line 2, ../scss/_modules.scss */
#dl-main .thumbnails img {
  vertical-align: none;
  width: 120px;
  height: 77px;
  border: none !important;
  margin: 0 !important;
  padding: 0;
}

/* line 3, ../scss/_modules.scss */
#dl-main .entry-title {
  margin: 20px;
  text-align: center;
}

/* line 4, ../scss/_modules.scss */
#dl-main .entry-title a {
  color: #FF6666;
}

/* line 5, ../scss/_modules.scss */
#dl-main {
  width: 620px;
  margin: 0px;
  overflow: hidden;
  float: left;
}

/* line 6, ../scss/_modules.scss */
#dl-main ul li {
  width: 378px;
  height: auto;
  list-style-type: none;
  z-index: 10;
}

/* line 7, ../scss/_modules.scss */
#dl-main img {
  margin: auto !important;
  max-width: 100% !important;
  padding: 0;
}

/* line 8, ../scss/_modules.scss */
.thumbnails {
  float: left;
  position: absolute;
}

/* line 9, ../scss/_modules.scss */
.thumbnails a {
  float: none;
  position: absolute;
  top: 0;
  z-index: 20;
  width: 120px;
  height: 77px;
  border: 1px solid #fff;
}

/* line 10, ../scss/_modules.scss */
.thumbnails a.active .count {
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 11, ../scss/_modules.scss */
.thumbnails span {
  color: #fff;
  position: absolute;
  left: 0px;
  top: 0px;
  font: 36px/1 "alternate-gothic-no-2-d-n4", "alternate-gothic-no-2-d", sans-serif;
  padding: 20px 20px 0 20px;
  width: 80px;
  height: 57px;
}

/* line 12, ../scss/_modules.scss */
.thumbnails a:nth-child(n) {
  text-align: right;
}

/* line 13, ../scss/_modules.scss */
.thumbnails a:nth-child(n+5) {
  text-align: left;
}

/* line 14, ../scss/_modules.scss */
#dl-thumbnail-0 {
  left: 0px;
  top: 0px;
  border-width: 0 1px 1px 0;
}

/* line 15, ../scss/_modules.scss */
#dl-thumbnail-1 {
  left: 0px;
  top: 78px;
  border-width: 0 1px 1px 0;
}

/* line 16, ../scss/_modules.scss */
#dl-thumbnail-2 {
  left: 0px;
  top: 156px;
  border-width: 0 1px 1px 0;
}

/* line 17, ../scss/_modules.scss */
#dl-thumbnail-3 {
  left: 0px;
  top: 234px;
  border-width: 0 1px 0 0;
}

/* line 18, ../scss/_modules.scss */
#dl-thumbnail-4 {
  left: 500px;
  top: 0px;
  border-width: 0 0 1px 1px;
}

/* line 19, ../scss/_modules.scss */
#dl-thumbnail-5 {
  left: 500px;
  top: 78px;
  border-width: 0 0 1px 1px;
}

/* line 20, ../scss/_modules.scss */
#dl-thumbnail-6 {
  left: 500px;
  top: 156px;
  border-width: 0 0 1px 1px;
}

/* line 21, ../scss/_modules.scss */
#dl-thumbnail-7 {
  left: 500px;
  top: 234px;
  border-width: 0 0 0 1px;
}

/* line 22, ../scss/_modules.scss */
#dl-main .dl-image img {
  width: 378px;
  height: 311px;
  border: none !important;
}

/* line 23, ../scss/_modules.scss */
.carousel {
  position: relative;
  width: 620px;
  overflow: hidden;
}

/* line 24, ../scss/_modules.scss */
.carousel-btns {
  text-align: center;
  width: 40%;
  margin: 0 250px;
  float: left;
}

/* line 25, ../scss/_modules.scss */
.carousel .dl-image {
  margin-left: 120px;
}

/* line 26, ../scss/_modules.scss */
.prevArw {
  background: transparent url("http://dev-oct.sandbox.main.stylelist.com/media/sprite.png") no-repeat scroll -82px -330px;
  width: 25px;
  height: 28px;
  font-size: 0;
  float: left;
}

/* line 27, ../scss/_modules.scss */
.nextArw {
  background: transparent url("http://dev-oct.sandbox.main.stylelist.com/media/sprite.png") no-repeat scroll -106px -330px;
  width: 25px;
  height: 28px;
  font-size: 0;
  float: left;
}

/* line 28, ../scss/_modules.scss */
.slide-count {
  float: left;
  font: 500 14px/2 "p22-underground-n5", "p22-underground", sans-serif;
  color: #B7B7B9;
  text-transform: uppercase;
  width: 100px;
}

/* end DL Home */
/* Inspiration wall */
/* line 32, ../scss/_modules.scss */
#inspiration-wall {
  margin: 0 auto;
  width: 950px;
}

/* line 34, ../scss/_modules.scss */
.inspiration-list {
  padding: 0;
}

/* line 35, ../scss/_modules.scss */
.inspiration-tile {
  float: left;
  height: 290px;
  list-style-type: none;
  margin: 0 40px 40px 0;
  position: relative;
  width: 290px;
}

/* line 36, ../scss/_modules.scss */
.inspiration-tile:nth-child(3n) {
  margin-right: 0;
}

/* line 37, ../scss/_modules.scss */
.inspiration-title {
  background-color: #888;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 270px;
}

/* line 38, ../scss/_modules.scss */
.inspiration-description {
  display: none;
}

/* line 39, ../scss/_modules.scss */
.inspiration-view-now {
  display: none;
}

/* DL Home */
/* line 2, ../scss/_modules.scss */
#dl-main .thumbnails img {
  vertical-align: none;
  width: 120px;
  height: 77px;
  border: none !important;
  margin: 0 !important;
  padding: 0;
}

/* line 3, ../scss/_modules.scss */
#dl-main .entry-title {
  margin: 20px;
  text-align: center;
}

/* line 4, ../scss/_modules.scss */
#dl-main .entry-title a {
  color: #FF6666;
}

/* line 5, ../scss/_modules.scss */
#dl-main {
  width: 620px;
  margin: 0px;
  overflow: hidden;
  float: left;
}

/* line 6, ../scss/_modules.scss */
#dl-main ul li {
  width: 378px;
  height: auto;
  list-style-type: none;
  z-index: 10;
}

/* line 7, ../scss/_modules.scss */
#dl-main img {
  margin: auto !important;
  max-width: 100% !important;
  padding: 0;
}

/* line 8, ../scss/_modules.scss */
.thumbnails {
  float: left;
  position: absolute;
}

/* line 9, ../scss/_modules.scss */
.thumbnails a {
  float: none;
  position: absolute;
  top: 0;
  z-index: 20;
  width: 120px;
  height: 77px;
  border: 1px solid #fff;
}

/* line 10, ../scss/_modules.scss */
.thumbnails a.active .count {
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 11, ../scss/_modules.scss */
.thumbnails span {
  color: #fff;
  position: absolute;
  left: 0px;
  top: 0px;
  font: 36px/1 "alternate-gothic-no-2-d-n4", "alternate-gothic-no-2-d", sans-serif;
  padding: 20px 20px 0 20px;
  width: 80px;
  height: 57px;
}

/* line 12, ../scss/_modules.scss */
.thumbnails a:nth-child(n) {
  text-align: right;
}

/* line 13, ../scss/_modules.scss */
.thumbnails a:nth-child(n+5) {
  text-align: left;
}

/* line 14, ../scss/_modules.scss */
#dl-thumbnail-0 {
  left: 0px;
  top: 0px;
  border-width: 0 1px 1px 0;
}

/* line 15, ../scss/_modules.scss */
#dl-thumbnail-1 {
  left: 0px;
  top: 78px;
  border-width: 0 1px 1px 0;
}

/* line 16, ../scss/_modules.scss */
#dl-thumbnail-2 {
  left: 0px;
  top: 156px;
  border-width: 0 1px 1px 0;
}

/* line 17, ../scss/_modules.scss */
#dl-thumbnail-3 {
  left: 0px;
  top: 234px;
  border-width: 0 1px 0 0;
}

/* line 18, ../scss/_modules.scss */
#dl-thumbnail-4 {
  left: 500px;
  top: 0px;
  border-width: 0 0 1px 1px;
}

/* line 19, ../scss/_modules.scss */
#dl-thumbnail-5 {
  left: 500px;
  top: 78px;
  border-width: 0 0 1px 1px;
}

/* line 20, ../scss/_modules.scss */
#dl-thumbnail-6 {
  left: 500px;
  top: 156px;
  border-width: 0 0 1px 1px;
}

/* line 21, ../scss/_modules.scss */
#dl-thumbnail-7 {
  left: 500px;
  top: 234px;
  border-width: 0 0 0 1px;
}

/* line 22, ../scss/_modules.scss */
#dl-main .dl-image img {
  width: 378px;
  height: 311px;
  border: none !important;
}

/* line 23, ../scss/_modules.scss */
.carousel {
  position: relative;
  width: 620px;
  overflow: hidden;
}

/* line 24, ../scss/_modules.scss */
.carousel-btns {
  text-align: center;
  width: 40%;
  margin: 0 250px;
  float: left;
}

/* line 25, ../scss/_modules.scss */
.carousel .dl-image {
  margin-left: 120px;
}

/* line 26, ../scss/_modules.scss */
.prevArw {
  background: transparent url("http://dev-oct.sandbox.main.stylelist.com/media/sprite.png") no-repeat scroll -82px -330px;
  width: 25px;
  height: 28px;
  font-size: 0;
  float: left;
}

/* line 27, ../scss/_modules.scss */
.nextArw {
  background: transparent url("http://dev-oct.sandbox.main.stylelist.com/media/sprite.png") no-repeat scroll -106px -330px;
  width: 25px;
  height: 28px;
  font-size: 0;
  float: left;
}

/* line 28, ../scss/_modules.scss */
.slide-count {
  float: left;
  font: 500 14px/2 "p22-underground-n5", "p22-underground", sans-serif;
  color: #B7B7B9;
  text-transform: uppercase;
  width: 100px;
}

/* end DL Home */
/* Inspiration wall */
/* line 32, ../scss/_modules.scss */
#inspiration-wall {
  margin: 0 auto;
  width: 950px;
}

/* line 34, ../scss/_modules.scss */
.inspiration-list {
  padding: 0;
}

/* line 35, ../scss/_modules.scss */
.inspiration-tile {
  float: left;
  height: 290px;
  list-style-type: none;
  margin: 0 40px 40px 0;
  position: relative;
  width: 290px;
}

/* line 36, ../scss/_modules.scss */
.inspiration-tile:nth-child(3n) {
  margin-right: 0;
}

/* line 37, ../scss/_modules.scss */
.inspiration-title {
  background-color: #888;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 270px;
}

/* line 38, ../scss/_modules.scss */
.inspiration-description {
  display: none;
}

/* line 39, ../scss/_modules.scss */
.inspiration-view-now {
  display: none;
}

/* Use this file to override main responsive rules or to add rules for proprietary site elements */
/*
	Tablet Layout: 768px.
*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 7, ../scss/_responsive.scss */
  #page {
    width: 100%;
    padding: 0;
  }

  /* line 11, ../scss/_responsive.scss */
  #page > header, #main {
    margin: 20px auto 0;
    padding: 10px;
    width: 748px;
  }

  /* line 17, ../scss/_responsive.scss */
  #page > header .main-nav li a {
    font-size: 11px;
  }

  /* line 21, ../scss/_responsive.scss */
  #page > header .main-nav li.home-link a {
    font-size: 0;
  }
}
/*
	Mobile Layout: 320px.
*/
@media only screen and (max-width: 767px) {
  /* Mods from SiteKit to accommodate full width footer */
  /* line 33, ../scss/_responsive.scss */
  #page {
    width: 100%;
    padding: 0;
  }

  /* line 37, ../scss/_responsive.scss */
  #page > header, #main {
    margin: 20px auto 0;
    padding: 10px;
    width: 300px;
  }

  /* nav  */
  /* line 43, ../scss/_responsive.scss */
  #page > header .main-nav {
    padding-top: 50px;
    text-align: left;
  }

  /* line 44, ../scss/_responsive.scss */
  #page > header .main-nav li.subnav-toggle {
    margin-top: -52px;
  }

  /* line 45, ../scss/_responsive.scss */
  #page > footer .main-nav li.subnav-toggle {
    margin-top: -4px;
  }

  /* line 47, ../scss/_responsive.scss */
  #page > header .main-nav li a {
    font-size: 14px;
  }

  /* line 50, ../scss/_responsive.scss */
  #page > header .main-nav li.subnav-toggle b a, #page > footer .main-nav li.subnav-toggle b a {
    font-size: 0;
  }

  /* line 52, ../scss/_responsive.scss */
  #page > header .main-nav li.home-link a {
    position: absolute;
    top: 64px;
    font-size: 0;
  }

  /*footer  */
  /* line 56, ../scss/_responsive.scss */
  #page > footer .main-nav .home-link a {
    margin: 0;
  }

  /* line 58, ../scss/_responsive.scss */
  #page > footer #aol-follow ul {
    margin-top: 0;
  }

  /* line 59, ../scss/_responsive.scss */
  #page > footer #aol-footer-links li {
    border-right: none;
  }
}
/*
	Wide Mobile Layout: 480px.
*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 71, ../scss/_responsive.scss */
  #page > header, #main {
    width: 460px;
  }
}
